.title {
	background: #0853ae;
	color: #fff;
	padding: 16px 30px;
	margin-top: 10px;
	border-radius: 5px;
}

.title h2 {
	margin: 0px;
	
}

.title-buttons-container {
	display: flex;
	justify-content: flex-end;
}

.searchBar {
	margin-right: 10px;
}

.add-user-button {
	font-size: 13px;
}

.pagination {
	width: 80%;
	height: 40px;
	margin-right: 10px;
	font-size: 12px;
}

.pagination a {
	padding: 5px;
	margin: 8px;
	border-radius: 15px;
	border: 1px solid #ffc107;
	color: black;
	cursor: pointer;
}

.pagination a:hover {
	background-color: #f7b100;
}

.pagination-active a {
	background-color: #f7b100;
}

.pagination-brake a {
	cursor: default;
	border: none;
}

.pagination-brake a:hover {
	background-color: white;
}